* {
  margin: 0;
  padding: 0;
}

#wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container {
  max-width: 600px;
  width: 100%;
  padding: 0 20px;
}

#game_board {
  display: grid;
  /* gap: 2px; */
  aspect-ratio: 1/1;
  font-size: 30px;
  border: 1px solid #000;
}

.start_txt {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.score_board {
  display: flex;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.score_board img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

#gameover_ui {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}

#gameover_ui h1 {
  color: #ffc0cb;
}

#gameover_ui h2 {
  color: #fff;
}

#gameover_ui.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.snake {
  background: #ffc0cb;
}

.head {
  position: relative;
  background: url(./resources/images/head.png) center no-repeat;
  background-size: cover;
}

.tail {
  border-radius: 100% 0 0 4px;
}

.tile {
  background-color: #fff;
}

.coin {
  position: relative;
}

.coin::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation-name: coinAnimation;
  animation-duration:1.5s;
  animation-duration: leaner;
  animation-direction: reverse;
  animation-iteration-count: infinite;
  background: url(./resources/images/hair_tie.png) center no-repeat;
  background-size: contain;
}

@-webkit-keyframes coinAnimation {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.3)
  }
  100% {
    transform: scale(1)
  }
}